*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: violet;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


div.containter{
  display: flex;
  align-items: center;
  justify-content: center;
}

div{
  font-size: larger;
}

span{
  border:1px solid black;
  margin:1rem;
  background-color: green;
  width: auto;
  height: auto;
}

button{
  
  width: auto;
  height: auto;
  font-size: 2rem;
  align-items: center;
  justify-content: center;

}

.initial-board{
  margin: 2em;
}

.solved-board{
  margin: 2em
}